{% extends 'base.html' %} {% block title %} gallary {% endblock %} {% block main
%}
<section class="w-full">
  <div
    class="container mx-auto px-6 py-20 space-y-20 flex flex-col justify-center items-center"
  >
    <!-- <form
      action="{{request.url_for('gallery')}}"
      method="get"
      class="flex flex-nowrap flex-1 space-x-2"
      x-intersect="fadeup($el)"
    >
      <select class="select w-full max-w-xs block" name="project_category">
        <option disabled selected>select project</option>
        <option>project enable</option>
        <option>access360</option>
      </select>
      <button
        type="submit"
        class="transition-all duration-500 rounded-bl-xl inline-block px-5 py-3 bg-secondary-focus text-base-100 shadow-xl hover:shadow-md hover:text-base-200 capitalize"
      >
        filter
      </button>
    </form> -->
    <div class="flex flex-wrap -m-1 md:-m-2" x-intersect="fadeup($el)">
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep1.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep2.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep3.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep4.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep5.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep6.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep7.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep8.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep9.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep10.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/aep11.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/yep1.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/yep2.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/yep3.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/yep4.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/yep5.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/yep6.jpg')}}"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/3">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full lightbox-img cursor-pointer transform hover:scale-90 transition-transform duration-500"
            src="{{request.url_for('static', path='img/gallery/yep7.jpg')}}"
          />
        </div>
      </div>
      </div>
    <!-- <div x-data="{isLoading:false}" x-intersect="fadeup($el)">
      <div class="flex">
        <button
          class="transition-all duration-500 rounded-bl-xl border border-secondary-focus text-secondary-focus rounded-sm font-bold px-5 py-3 mr-2 flex items-center hover:bg-secondary-focus hover:text-base-100"
        >
          <svg
            class="h-5 w-5 mr-2 fill-current"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="-49 141 512 512"
            style="enable-background: new -49 141 512 512"
            xml:space="preserve"
          >
            <path
              id="XMLID_10_"
              d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"
            ></path>
          </svg>
          Previous page
        </button>
        <button
          class="transition-all duration-500 rounded-bl-xl border border-secondary-focus bg-secondary-focus text-base-100 rounded-sm font-bold px-5 py-3 ml-2 flex items-center"
        >
          Next page
          <svg
            class="h-5 w-5 ml-2 fill-current"
            clasversion="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="-49 141 512 512"
            style="enable-background: new -49 141 512 512"
            xml:space="preserve"
          >
            <path
              id="XMLID_11_"
              d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
            l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
            c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"
            />
          </svg>
        </button>
      </div>
    </div> -->
  </div>
</section>
{% endblock %}
