<!-- Navbar menu content here -->
<a
  class="hover:bg-transparent hover:text-secondary"
  href="{{request.url_for('homepage')}}"
  >users</a
>
<a
  class="hover:bg-transparent hover:text-secondary"
  href="{{request.url_for('homepage')}}"
  >team</a
>
<a
  class="hover:bg-transparent hover:text-secondary"
  href="{{request.url_for('homepage')}}"
  >project</a
>
<a
  class="hover:bg-transparent hover:text-secondary"
  href="{{request.url_for('gallery')}}"
  >gallery</a
>
<a
  class="hover:bg-transparent hover:text-secondary"
  href="{{request.url_for('contact')}}"
  >news</a
>
