{% extends 'admin/base.html' %} {% block title %} reset {% endblock %} {% block
main %}
<section
  class="container my-32 mx-auto px-6 md:px-0 h-screen md:h-[75vh] md:my-20"
>
  <div class="flex justify-center items-center">
    <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            type="password"
            placeholder="password"
            class="input input-bordered"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">confirm password</span>
          </label>
          <input
            type="password"
            placeholder=" confirm password"
            class="input input-bordered"
          />
        </div>

        <div class="form-control mt-6">
          <button
            class="btn text-base-100 border-0 hover:bg-secondary bg-secondary-focus"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
